<form action='/listings' method="get">
Login </br>
</br>
Username:
  <input type = "text" name= "Username">
Password:
  <input type ="text" name= "Password">
  <button type="submit" value="next">Next</button>
</form>

<form action='/users/new' method ="get">
  <button type="submit" value="signup">Sign Up!</button>
</form>
