<head>
  <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->
  <link href="/index.css" rel="stylesheet" type="text/css">
</head>
<body class='bg'>
<center>
  <div>
    <form action='/listings' method="get">
      <h1> Welcome to Makers BnB </h1>
    </br>
    <p id="email">
	     <input id='email_border' type ="text"  name= "Email" placeholder= "Email"></p>
    <p id="password">
      <input id='password_border' type ="text"  name= "Password" placeholder= "Password"></p>

    <button id="log_in" type="submit" value="next">LOG IN</button>
    </form>

    <form action='/users/new' method ="get">
    <button id="sign_up" type="submit" value="signup">SIGN UP!</button>
    </form>
  </div>
</center>
</body>
