<form action="/listings/new" method ="post">
  Add a Name:
  <input type="text" name="name">
  Add a Price:
  <input type="number" name="price">
  Add a short description:
  <input type="text" name="description">
  <button type="submit" value="Save">Save</button>
</form>
