<head>
 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
 <link href="/signup.css" rel="stylesheet" type="text/css">
</head>
  <div>
    <form action='/users/new' method='post'>
      <span id="Add-user-name"><b>Your Name:</b></span><input type="text" name="user_name">
      <br></b>
      <span id="Add-user-email"><b>Your Email:</b></span><input type="text" name="user_email">
      <br></b>
      <span id="Add-user-password"><b>Your Password:</b></span><input type="password" name="user_password">
      <br></b>
      <button type="submit" value="Save">Save</button>
    </form>
  </div>
