body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2cf76f5fe8c1347af38e4b515499e62&auto=format&fit=crop&w=1778&q=80");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
  font-family: American Typewriter;
  font-size: 40px;
  color: black;
  text-align: center;
}


#sign_up {
  background-color: white;
  color: black;
  padding: 2px 8px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 2px solid black;
  width: 150px;
  margin:0 auto;
}

#sign_up:hover {
  background-color: white;
  color: lightgray;
  border: 2px solid lightgray;
}

#log_in {
  background-color: white;
  color: black;
  padding: 2px 8px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: 2px solid black;
  width: 150px;
  margin:0 auto;
}

#log_in:hover {
  background-color: white;
  color: lightgray;
  border: 2px solid lightgray;
}




@media all and (max-width:30em){
 #log_in {
  display:block;
  margin:0.4em auto;
 }
}

#email {
  font-size: 18px;
  text-align: center;
}

#password {
  font-size: 18px;
  text-align: center;
}

#email_border {
  border: 2px solid black;
  border-radius: 8px;
}

#password_border {
  border: 2px solid black;
  border-radius: 8px;
}


div {
  border: 3px solid lightgray;
  padding: 25px;
  margin: 25px;
  font-family: 'Raleway', sans-serif;
}
